.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.centre {
<<<<<<< HEAD
  /*margin: 0;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*transform: translate(-50%, 0%);*/
=======
>>>>>>> ready to demo
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 85px;
}

<<<<<<< HEAD
.remove-underline {
  text-decoration: none;
=======
.remove-underline{
  text-decoration: none !important;
>>>>>>> ready to demo
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
